# CityBikes

Send a request to CityBikes for the city of your choice.

In [5]:
##Part 1: Connecting to CityBikes API

import requests
import json
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
response = requests.get('http://api.citybik.es/v2/networks')

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [6]:
import requests
import json
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
df = pd.read_json('/Users/cegrib/Downloads/networks.json')
#df.head()   
df 
with open('/Users/cegrib/Downloads/networks.json') as f:
    d = json.load(f)
df1 = pd.json_normalize(d, record_path =['networks'])
df1.tail(2)

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
588,"[PBSC Urban Solutions, Shift Transit]",/v2/networks/tugo-bike-share,tugo-bike-share,Tugo Bike Share,"Tucson, AZ",US,32.2225,-110.9749,NaN,https://tucson.publicbikesystem.net/customer/g...,NaN,NaN,NaN
589,[Nextbike GmbH],/v2/networks/nextbike-prerov,nextbike-prerov,nextbike Prerov,Prerov,CZ,49.4574,17.4408,NaN,NaN,NaN,NaN,NaN

Put your parsed results into a DataFrame.

In [7]:
#we will need information on station, latitude, longitude, number of bikes 
#we will focus on city "Moscow" and retrieve all bike stations in the city. 
#We will then use API to call the latitude and longitude as
#well as the number of bikes.
df2=df1.loc[df1['location.city'] == "Paris"] 
df2

,company,href,id,name,location.city,location.country,location.latitude,location.longitude,source,gbfs_href,license.name,license.url,ebikes
34,None,/v2/networks/velib,velib,Vélib' Métropole,Paris,FR,48.856614,2.352222,NaN,https://velib-metropole-opendata.smoove.pro/op...,OPEN LICENCE 2.0,etalab.gouv.fr/wp-content/uploads/2018/11/open...,True

In [8]:
#Get an API for my selected city - Paris
import requests
import json
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
response_paris = requests.get('http://api.citybik.es/v2/networks/velib')

In [9]:
# Check if the request was successful (a status code 200 should be given)
if response_paris.status_code != 200:
    print("Request failed. Status code:", response_paris.status_code)
else:
    # Parse the JSON response
    data = response_paris.json()
    
    # Extract bike stations in Paris
    stations = data['network']['stations']
    
    # Create lists for extracted details
    name = []
    latitudes = []
    longitudes = []
    number_of_bikes = []
    
    # Iterate through each station and extract details
    for station in stations:
        name.append(station['name'])
        latitudes.append(station['latitude'])
        longitudes.append(station['longitude'])
        number_of_bikes.append(station['free_bikes'])

In [10]:
# Create a DataFrame with the extracted details
df_paris = pd.DataFrame({
    'Station Name': name,
    'Latitude': latitudes,
    'Longitude': longitudes,
    'Number of Bikes': number_of_bikes
})

In [11]:
df_paris

,Station Name,Latitude,Longitude,Number of Bikes
0,Benjamin Godard - Victor Hugo,48.865983,2.275725,10
1,André Mazet - Saint-André des Arts,48.853756,2.339096,1
2,Faubourg Du Temple - Republique,48.867872,2.364898,8
3,Beaux-Arts - Bonaparte,48.856452,2.334852,3
4,Toudouze - Clauzel,48.879296,2.337360,2
...,...,...,...,...
1450,Rouget de L'isle - Watteau,48.778193,2.396302,7
1451,Stade Gaston Bouillant,48.939959,2.327957,0
1452,Station Brennus,48.923048,2.364443,1
1453,Mairie,48.879143,2.416335,2
1454,Station Humanisée Fan Zone Madeleine,48.870772,2.324649,0

In [13]:
#Copy dataframe to csv in local folder
# Save the DataFrame to CSV
#df_paris.to_csv("out_paris.csv", index=False) 

# Specify the path for the CSV file
csv_file_path = "../Downloads/paris_bikes.csv"

# Save DataFrame as CSV
df_paris.to_csv(csv_file_path, index=False)

In [14]:
#check data for duplicates
duplicate_rows = df_paris[df_paris.duplicated()] 
print(duplicate_rows)

Empty DataFrame
Columns: [Station Name, Latitude, Longitude, Number of Bikes]
Index: []