# CityBikes

Send a request to CityBikes for the city of your choice.

Part 1: Connecting to CityBikes API

import requests
import json
import pandas as pd
import numpy as np
import json
from pandas import json_normalize 
response = requests.get('http://api.citybik.es/v2/networks')

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Put your parsed results into a DataFrame.

In [1]:
#Get a CityBikes API for my selected city - Barcelona
import requests
import json
import pandas as pd
import numpy as np
import json
from pandas import json_normalize
response_barcelona = requests.get('http://api.citybik.es/v2/networks/bicing')

In [2]:
# Check if the request was successful (a status code 200 should be given)
if response_barcelona.status_code != 200:
    print("Request failed. Status code:", response_barcelona.status_code)
else:
    # Parse the JSON response
    data = response_barcelona.json()
    
    # Extract bike stations in Madrid
    stations = data['network']['stations']
    
    # Create lists for extracted details
    name = []
    latitudes = []
    longitudes = []
    number_of_bikes = []
    
    # Iterate through each station and extract details
    for station in stations:
        name.append(station['name'])
        latitudes.append(station['latitude'])
        longitudes.append(station['longitude'])
        number_of_bikes.append(station['free_bikes'])

In [3]:
# Create a DataFrame with the extracted details
df_barcelona = pd.DataFrame({
    'Station Name': name,
    'Latitude': latitudes,
    'Longitude': longitudes,
    'Number of Bikes': number_of_bikes
})

In [4]:
df_barcelona

                  Station Name   Latitude  Longitude  Number of Bikes
0             C/ MARINA, 25-33  41.388125   2.195187               14
1         C/ MARIE CURIE, 8-14  41.436687   2.169313                8
2          C/ SELVA DE MAR, 46  41.409135   2.208818                5
3            AV. DIAGONAL, 652  41.389462   2.131495                0
4              C/ CÒRSEGA, 216  41.391767   2.153216                0
..                         ...        ...        ...              ...
503      RAMBLA DEL BRASIL, 44  41.378307   2.129730                0
504     AV. PARAL·LEL, 146 BIS  41.375185   2.159239               23
505              C/ BERLÍN, 38  41.383261   2.139266                3
506          C/ DIPUTACIÓ, 226  41.387306   2.163126                6
507  C/ SANCHO DE ÁVILA, 60-64  41.398754   2.190212               10

[508 rows x 4 columns]

In [5]:
#Copy dataframe to csv in local folder
# Save the DataFrame to CSV
#df_barcelona.to_csv("out_barcelona.csv", index=False) 

# Specify the path for the CSV file
csv_file_path = "../Downloads/barcelona_bikes.csv"

# Save DataFrame as CSV
df_barcelona.to_csv(csv_file_path, index=False)

In [7]:
#check data for duplicates
duplicate_rows = df_barcelona[df_barcelona.duplicated()]

print("Duplicate Rows:")
duplicate_rows

Duplicate Rows:

Empty DataFrame
Columns: [Station Name, Latitude, Longitude, Number of Bikes]
Index: []